<?xml version="1.0" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MeshForge" Manufacturer="Leland Green Productions" Version="1.0.11" UpgradeCode="21379429-9f0c-432d-bff1-101e77fc02c1">
    <ComponentGroup Id="ProductComponents">
      <Component Id="Component_1" Directory="INSTALLDIR">
        <File Id="File_1" Source="/app/test_publish/test.txt" Name="test.txt"/>
      </Component>
      <Component Id="Component_2" Directory="INSTALLDIR">
        <File Id="File_2" Source="/app/test_publish/TestApp.exe" Name="TestApp.exe"/>
        <Shortcut Id="DesktopShortcut_File_2" Directory="DesktopFolder" Name="MeshForge" WorkingDirectory="INSTALLDIR" IconIndex="0" Advertise="yes"/>
        <Shortcut Id="StartMenuShortcut_File_2" Directory="ProgramMenuFolder" Name="MeshForge" WorkingDirectory="INSTALLDIR" IconIndex="0" Advertise="yes"/>
      </Component>
      <Component Id="Component_3" Directory="INSTALLDIR">
        <File Id="File_3" Source="/app/test_publish/config.ini" Name="config.ini"/>
      </Component>
      <Component Id="Component_4" Directory="Dir_resources">
        <File Id="File_4" Source="/app/test_publish/resources/readme.txt" Name="readme.txt"/>
      </Component>
      <Component Id="Component_5" Directory="Dir_resources">
        <File Id="File_5" Source="/app/test_publish/resources/data.xml" Name="data.xml"/>
      </Component>
    </ComponentGroup>
    <Feature Id="ProductFeature" Title="MeshForge" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="ManufacturerFolder" Name="Leland Green Productions">
        <Directory Id="INSTALLDIR" Name="MeshForge">
          <Directory Id="Dir_resources" Name="resources"/>
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder"/>
    <Icon Id="ProductIcon" SourceFile="../Resources/Meshforge.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
  </Package>
</Wix>
