<?xml version="1.0" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Test" Manufacturer="Leland Green Productions" Version="1.0.0" UpgradeCode="fb7a6aaf-3c33-4790-9d37-db5ac972ea07">
    <ComponentGroup Id="ProductComponents">
      <Component Id="Component_1" Directory="INSTALLDIR">
        <File Id="File_1" Source="D:\Documents\Code\GitHub\wix_creator\test_publish\config.ini" Name="config.ini"/>
      </Component>
      <Component Id="Component_2" Directory="INSTALLDIR">
        <File Id="File_2" Source="D:\Documents\Code\GitHub\wix_creator\test_publish\TestApp.exe" Name="TestApp.exe"/>
        <Shortcut Id="DesktopShortcut_File_2" Directory="DesktopFolder" Name="Test" WorkingDirectory="INSTALLDIR" IconIndex="0" Advertise="yes"/>
        <Shortcut Id="StartMenuShortcut_File_2" Directory="ProgramMenuFolder" Name="Test" WorkingDirectory="INSTALLDIR" IconIndex="0" Advertise="yes"/>
      </Component>
      <Component Id="Component_3" Directory="Dir_resources">
        <File Id="File_3" Source="D:\Documents\Code\GitHub\wix_creator\test_publish\resources\data.xml" Name="data.xml"/>
      </Component>
      <Component Id="Component_4" Directory="Dir_resources">
        <File Id="File_4" Source="D:\Documents\Code\GitHub\wix_creator\test_publish\resources\readme.txt" Name="readme.txt"/>
      </Component>
    </ComponentGroup>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="ManufacturerFolder" Name="Leland Green Productions">
        <Directory Id="INSTALLDIR" Name="Test">
          <Directory Id="Dir_resources" Name="resources"/>
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder"/>
  </Package>
</Wix>
